
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

ul, ol, li {
  list-style: none; 
  padding: 0; 
}
